{% extends 'base.html' %}

{% block content %}

{% if users %}
<div class="container mt-5 mb-5">
    <h2 class="mb-4">Список пользователей</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="table-primary">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Логин</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Email</th>
                    <th scope="col">Дата рождения</th>
                    <th scope="col">Номер телефона</th>
                    <th scope="col">Возраст</th>
                    <th scope="col">Абонемент</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.date_of_birth|date:"d.m.Y" }}</td>
                    <td>{{ user.phone_number }}</td>
                    <td>{{ user.age }}</td>
                    <td>{{ user.active_pool_pass }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<div class="container mt-5">
    <h2 class="mb-4">Детали профиля</h2>
    {% if pool_pass %}
    <h3>Активный абонемент</h3>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Тип</th>
                    <th scope="col">Куплен</th>
                    <th scope="col">Заканчивается</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{ pool_pass.pk }}</th>
                    <td>{{ pool_pass.get_pass_type_display }}</td>
                    <td>{{ pool_pass.start_date }}</td>
                    <td>{{ pool_pass.end_date }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endif %}
    <form method="post">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label for="id_username">{{ form.username.label }}</label>
                    <input type="text" name="username" class="form-control"
                           id="id_username" required
                           value="{{ form.username.value|default_if_none:'' }}">
                </div>
                <div class="form-group mb-3">
                    <label for="id_first_name">{{ form.first_name.label }}</label>
                    <input type="text" name="first_name" class="form-control"
                           id="id_first_name" required
                           value="{{ form.first_name.value|default_if_none:'' }}">
                </div>
                <div class="form-group mb-3">
                    <label for="id_last_name">{{ form.last_name.label }}</label>
                    <input type="text" name="last_name" class="form-control"
                           id="id_last_name" required
                           value="{{ form.last_name.value|default_if_none:'' }}">
                </div>
                <div class="form-group mb-3">
                    <label for="id_email">{{ form.email.label }}</label>
                    <input type="email" name="email" class="form-control"
                           id="id_email" required
                           value="{{ form.email.value|default_if_none:'' }}">
                </div>
                <div class="form-group mb-3">
                    <label>Дата рождения</label>
                    <input type="text" class="form-control"
                           value="{{ user.date_of_birth }}" readonly>
                </div>
                <div class="form-group mb-3">
                    <label for="id_phone_number">{{ form.phone_number.label }}</label>
                    <input type="text" name="phone_number" class="form-control"
                           id="id_phone_number" required
                           value="{{ form.phone_number.value|default_if_none:'' }}">
                </div>
                <div class="form-group mb-3">
                    <label>Возраст</label>
                    <input type="text" class="form-control" value="{{ age }}"
                           readonly>
                </div>
                <button type="submit" class="btn btn-primary">Сохранить
                    изменения
                </button>
            </form>
</div>
<div class="container mt-3 mb-5">
    <h3>Занятия, на которые вы записаны:</h3>
    {% if signed_up_lessons %}
    <ul class="list-group">
        {% for lesson in signed_up_lessons %}
        <li class="list-group-item">
            <strong>{{ lesson.title }}</strong> (Инструктор: {{ lesson.instructor.user.username }}) <br>
            Время начала: {{ lesson.start_time }} <br>
            Время окончания: {{ lesson.end_time }} <br>
            Описание: {{ lesson.description }} <br>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Вы пока не записаны ни на одно занятие.</p>
    {% endif %}
</div>
{% endif %}

{% endblock %}
