{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Добро пожаловать в бассейн "Луч"!</h2>
    <p class="lead text-center">Отличное место для занятий плаванием и релаксации.</p>
    <div class="d-flex justify-content-center">
        <img src="https://bassein-moscow.ru/assets/images/fast_img/316/316-t42nr8.jpg" alt="Описание изображения" class="img-fluid">
    </div>
    <p class="text-center">У нас имеется просторный внутренний бассейн для занятий в любое время года.</p>

    <h3 class="text-center">Внутренний бассейн</h3>
    <p class="text-center">Идеальное место для занятий плаванием в любое время года.</p>
</div>
{% endblock %}
