{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Добро пожаловать в бассейн "Луч"!</h2>
    <p class="lead">Отличное место для занятий плаванием и релаксации.</p>
    <img src="https://bassein-moscow.ru/assets/images/fast_img/316/316-t42nr8.jpg" alt="Описание изображения">
    <p>У нас имеется просторный внутренний бассейн для занятий в любое время года.</p>

    <h3>Внутренний бассейн</h3>
    <p>Идеальное место для занятий плаванием в любое время года.</p>
</div>
{% endblock %}
