{% extends 'base.html' %}

{% block content %}
<div class="container mt-3 mb-5">
    <h2>Отзывы на инструкторов</h2>
    {% if reviews %}
    <div class="list-group">
        {% for review in reviews %}
        <a href="#" class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Инструктор: {{ review.instructor.user.get_full_name }}</h5>
                <small>Дата: {{ review.created_at|date:"d.m.Y H:i" }}</small>
            </div>
            <p class="mb-1">Комментарий: {{ review.comment }}</p>
            <small>Автор: {{ review.author.username }}</small><br>
            <small>Рейтинг: {{ review.get_rating_display }}</small>
        </a>
        {% empty %}
        <div class="list-group-item">Отзывов пока нет.</div>
        {% endfor %}
    </div>
    {% else %}
    <p>Отзывов пока нет.</p>
    {% endif %}
</div>
{% endblock %}
