{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h2>Список постов</h2>
    <div class="posts">
      {% for post in posts %}
        <div class="post">
          <h3>{{ post.title }}</h3>
          <p>{{ post.content }}</p>
          <p><small>Автор: {{ post.author.username }}</small></p>
          <p><small>Дата публикации: {{ post.published_date }}</small></p>
          {% if post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 300px;">
          {% endif %}
        </div>
      <hr>
      {% endfor %}
    </div>
  </div>
{% endblock %}
