{% extends 'base.html' %}

{% block content %}
<div class="container text-center">
    <h2>Отзывы</h2>
    <ul class="list-unstyled">
        {% for review in reviews %}
        <li>
            <div class="mb-3">
                <strong>Автор:</strong> {{ review.author.username }}<br>
                <strong>Рейтинг:</strong> {{ review.get_rating_display }}<br>
                <strong>Комментарий:</strong> {{ review.comment }}<br>
                <strong>Дата создания:</strong> {{ review.created_at|date:"Y-m-d H:i" }}<br>
                {% if review.instructor %}
                <strong>На инструктора:</strong> {{ review.instructor.user.get_full_name }}
                {% endif %}
            </div>
        </li>
        {% empty %}
        <li>Отзывы отсутствуют.</li>
        {% endfor %}
    </ul>
</div>
<div class="container">
    <h3 class="text-center">Оставить отзыв</h3>
    <div class="d-flex justify-content-center">
        <form method="post" style="min-width: 300px;">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_rating" class="form-label">Рейтинг</label>
                <select name="rating" id="id_rating" class="form-select">
                    <option value="">Выберите рейтинг</option>
                    {% for value, label in form.fields.rating.choices %}
                    <option value="{{ value }}" {% if form.rating.value|stringformat:"s" == value|stringformat:"s" %} selected {% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="id_comment" class="form-label">Комментарий</label>
                <textarea name="comment" id="id_comment" class="form-control" rows="3">{{ form.comment.value|default_if_none:"" }}</textarea>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Отправить отзыв</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
